<div class="flex justify-center">

  <div class="gif-detail">

    <div class="p-6" *ngIf="!(loading.loading$|async)">

      <ng-container *ngFor="let data of gifs; let i = index;">

        <img class="gif-image rounded w-full h-96" src="{{data.images.original.url}}" alt="Gif Image">

        <div class="gif-detail-content">
          <h4><span>Date uploaded: </span>{{data.import_datetime | date }}</h4>
          <h4><span>Title: </span>{{data.title}}</h4>
          <h4><span>Creator: </span>{{data.user.display_name}}</h4>
          <h4><span>Username: </span>{{data.user.username}}</h4>
          <h4><span>Giphy Link: </span>{{data.url}}</h4>
          <h4><span>Instagram: </span>{{data.user.instagram_url}}</h4>
          <h4><span>Profile: </span>{{data.user.profile_url}}</h4>
          <h4><span>Website: </span>{{data.user.website_url}}</h4>
          <h4><span>Verified: </span>{{data.user.is_verified ? 'Yes' : 'No'}}</h4>
        </div>

      </ng-container>


      <div class="mt-6">
        <button (click)="back()">Go back</button>
      </div>

    </div>

    <div *ngIf="loading.loading$|async">
      <img src="assets/Spinner.gif" alt="">
    </div>

  </div>
</div>
